<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jfood_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="JFood"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.SplashActivity"
            android:label="Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PromoActivity"
            android:label="Promo"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.HistoryActivity"
            android:label="History"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.FoodActivity"
            android:label="Food"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.CartActivity"
            android:label="Food Cart"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.InvoiceActivity"
            android:label="Finish Order"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.OrderActivity"
            android:label="JFood Order"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:parentActivityName=".activity.LoginActivity" />
        <activity
            android:name=".activity.RegisterActivity"
            android:label="JFood Register"
            android:parentActivityName=".activity.LoginActivity" />
        <activity
            android:name=".activity.LoginActivity"
            android:label="JFood Login">
        </activity>
    </application>

</manifest>